/* #region  Style de base */

* {
  margin: 0;
  padding: 0;
  color: white;
}
body {
  background-color: black;
  width: 100%;
  height:90vh;
  padding: 30px;
  border: 5px double gray;
}

/*****************************************/
.header {
  cursor: pointer; /* Indique qu'on peut cliquer */
  display: flex;
  flex-direction: row;
  gap: 5px;
  /* background-color: blue; */
  width: auto;
}
/*****************************************/
code {
  background-color: grey;
  color: black;
  padding: 2px 4px;
  font-family: monospace;
  border: solid 1px black;
}

h1,
h2,
h3,
h4,
h5 {
  color: yellow;
  padding: 2px 4px;
  margin: 0;
  border: solid 1px black;
  width: auto;
  text-align: center;
}

h1 {
  background-color: transparent;
}
h2 {
  background-color: brown;
}
h3 {
  background-color: darkred;
}
h4 {
  background-color: darkgoldenrod;
}
h5 {
  background-color: green;
}
/*****************************************/
/* #endregion  Style de base */

/* #region  direction branche et contener*/
.contentV,
.branchV {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  /* border-right: outset 5px red; */
  /* border-left: outset 5px red; */
  margin: 5px 0px;
}
.contentH,
.branchH {
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  width: auto;
  /* border-top: outset 1px yellow; */
  /* border-bottom: outset 2px yellow; */
}

/* Le contenu doit être caché par défaut */
.contentV,
.contentH,
.content {
  max-height: 0;
  max-width: 0;
  overflow: hidden; /* Cache ce qui dépasse */
  transition: max-height 0.1s ease-in-out, max-width 0.1s ease-in-out; /* La clé pour l'effet de slide */
}

/*************************************************/
/* Classe ajoutée par JS pour révéler le contenu */
/*
.contentV,
.contentH,
.content {
  */
.contentV.active,
.contentH.active,
.content.active {
  max-width: 100%;
  max-height: 100%; /* Une grande valeur pour s'assurer que tout le contenu est visible */
  overflow: hidden; /* Cache ce qui dépasse */
  /*  Une grande valeur pour s'assurer que tout le contenu est visible */
  transition: max-height 0.2s ease-in-out, max-width 0.2s ease-in-out; /* La clé pour l'effet de slide */
}

.expli-pad {
  border: solid 2px orange;
  background-color: darkslategray;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/*************************************************/
/* #endregion direction branche et contener */

/* #region autre  */
hr {
  border: dashed 1px purple;
  margin: 10px 0px;
  width: 100%;
}
#exempleCode {
  background-color: red;
  margin: 10px 0px;
  color: purple;
  font-family: monospace;
  border: solid 2px yellow;
}
#ex {
  color: purple;
  background-color: lightgrey;
  font-weight: bold;
  text-decoration: underline;
  margin: 5px 0px;
}
/* #endregion  */

/* #region  */

/* #endregion  */
