* {
  margin: 0;
  border: outset 5px rgb(78, 3, 3);
  font-size: 1.5rem;
}
body {
  margin: auto;
  width: 95vw;
  height: 400vh;

  border: solid 5px yellow;
  /* background-color: rgb(12, 0, 61); */
}


/* #region nav test */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px; /* Grande hauteur initiale */
  background-color: transparent;
  transition: all 0.3s ease; /* Transition douce pour l'animation */
  color: white;
  z-index: 100;
}

/* Classe CSS qui sera ajoutée/retirée par JavaScript */
.scrolled {
  height: 200px !important; /* Petite hauteur après défilement */
  background-color: #333 !important; /* Couleur de fond sombre */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
/* #endregion nav test */



.content{
  display: flex;
  flex-direction: row;
  border: solid 10px blue;
  width: 95vw;
}




div#jsScript {
  width: 50%;
  height: 90%;
  border: solid 5px red;
  background-color: rgb(61, 0, 12);
  font-size: 1rem;
  color: white;
}





/* #region fram */
.visu-code{
  width: 50%;
  /* height: 100%; */
  border: solid 5px green;
}
iframe{
  width: 100%;
  height: 100%;
  border: none;
}
/* #endregion fram */