body {
  background-color: black;
}
h4,
h3,
h2,
h1 {
  background-color: transparent;
  font-size: 300%;
}
h1 {
  color: green;
}
h2 {
  color: blue;
}
h3 {
  color: red;
}
h4 {
  color: purple;
}
span {
  width: 200px;
  position: absolute;
  top: 1%;

  translate: -50% 0%;
  color: white;
  font-size: 2rem;
  text-align: center;
  border: solid 1px white;
  z-index: 20;
}
.s0 {
  left: 100px;
  color: red;
}
.s1 {
  left: 300px;
  color: red;
}
.s2 {
  left: 600px;
  color: blue;
}
.s3 {
  left: 490px;
  color: green;
  top: 10%;
}
.s4 {
  left: 840px;
  color: green;
  top: 10%;
}
.s5 {
  left: 380px;
  color: green;
  top: 10%;
}
.s6 {
  left: 1900px;
  color: green;
  top: 10%;
}
.s7 {
  left: 1400px;
  color: pink;
}
.s8 {
  left: 1860px;
  color: green;
}
.s9 {
  left: 1700px;
  color: red;
}

:root {
  --yPosition1: 0%;
  --XPosition: 0%;
  --zindex-repere: 10;
}

/* #region repere css */
/* X */
#pts-css1,
#pts-css2 {
  position: absolute;
  top: var(--yPosition1);
  left: var(--XPosition);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: solid 5px white;
  font-size: 1.5rem;
}

#pts-css3,
#pts-css4,
#pts-css5,
#pts-css6,
#pts-css7,
#pts-css8,
#pts-css9,
#pts-css10,
#pts-css11 ,
#pts-css12 ,
#pts-css13 ,
#pts-css14 {
  position: absolute;
  top: var(--yPosition1);
  left: var(--XPosition);
  display: flex;
  align-items: end;
  justify-content: end;
  color: orange;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0);
}
/* #endregion */

/* #region repere css */
/* X */
#pts-css1 {
  width: 100%;
  height: 0px;
  z-index: var(--zindex-repere);
}
/* Y */
#pts-css2 {
  width: 0px;
  height: 100%;
  z-index: var(--zindex-repere);
}
/* petit mobil */
#pts-css3 {
  width: 320px;
  height: 568px;
  border: solid 5px red;
  z-index: var(--zindex-repere);
}
/* standar mobil */
#pts-css4 {
  width: 375px;
  height: 627px;
  border: solid 5px red;
  z-index: var(--zindex-repere);
}
/* grand mobil */
#pts-css5 {
  width: 414px;
  height: 736px;
  border: solid 5px red;
  z-index: var(--zindex-repere);
}

/* tablette stadard */
#pts-css6 {
  width: 768px;
  height: 1024px;
  height: 980px;
  border: solid 5px blue;
  z-index: var(--zindex-repere);
}

/* tablette grande */
#pts-css7 {
  width: 820px;
  height: 1180px;
  border: solid 5px blue;
  z-index: var(--zindex-repere);
}

/* petit ecran */
#pts-css8 {
  width: 992px;
  height: 600px;
  border: solid 5px green;
  z-index: var(--zindex-repere);
}
/* ecran standar */
#pts-css9 {
  width: 1200px;
  height: 1080px;
  border: solid 5px green;
  z-index: var(--zindex-repere);
}
#pts-css10 {
  width: 1440px;
  height: 900px;
  border: solid 5px green;
  z-index: var(--zindex-repere);
}
/* hdmi */
#pts-css11 {
  width: 1920px;
  height: 1080px;
  border: solid 5px green;
  z-index: var(--zindex-repere);
}

#pts-css12 {
  width: 1900px;
  height: 1000px;
  border: solid 10px purple;
  z-index: var(--zindex-repere);
}
#pts-css13 {
  width: 1860px;
  height: 900px;
  border: solid 10px purple;
  z-index: var(--zindex-repere);
}
#pts-css14 {
  width: 380px;
  height: 490px;
  border: solid 10px purple;
  z-index: var(--zindex-repere);
}



/* #endregion */

