body {
  background-color: black;
  /* width: 100vw; */
  height: auto;
  border: 5px double gray;
}
h3,
h2,
h1 {
  background-color: transparent;
 
}
h1{
  color: green;
}
h2{
  color: blue;
}
h3{
  color: red;
}
span {
  position: absolute;
  top: 10%;
  translate:-50% 0%;
  color: white;
  font-size: 2rem;
  text-align: center;
  border: solid 1px white;
}
.s0 {
  left: 50px;
  color: white;
}
.s1 {
  left: 100px;
  color: red;
}
.s2 {
  left: 250px;
  color: blue;
}
.s3 {
  left: 500px;
  color: green;
}
.s4 {
  left: 800px;
  color: orange;
}
.s5 {
  left: 380px;
  color: yellow;
}
.s6 {
  left: 1200px;
  color: purple;
} 
.s7 {
  left: 1400px;
  color: pink;
}
.s8 {
  left: 1920px;
  color: cyan;
}
.s9 {
  left: 1850px;
  color: red;
}




:root {
  --yPosition1: 0%;
  --XPosition: 0%;
  --zindex-repere: 10;
}

/* #region repere css */
/* X */
#pts-css1,
#pts-css2 {
  position: absolute;
  top: var(--yPosition1);
  left: var(--XPosition);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: solid 5px white;
  font-size: 1.5rem;
}

#pts-css3,
#pts-css4,
#pts-css5,
#pts-css6,
#pts-css7,
#pts-css8,
#pts-css9,
#pts-css10,
#pts-css11 {
  position: absolute;
  top: var(--yPosition1);
  left: var(--XPosition);
  display: flex;
  align-items: end;
  justify-content: end;
  color: orange;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0);
}
/* #endregion */

/* #region repere css */
/* X */
#pts-css1 {
  width: 100%;
  height: 0px;
  z-index: var(--zindex-repere);
}
/* Y */
#pts-css2 {
  width: 0px;
  height: 100%;
  z-index: var(--zindex-repere);
}
/* petit mobil */
#pts-css3 {
  width: 320px;
  height: 568px;
  border: solid 5px red;
  z-index: var(--zindex-repere);
}
/* standar mobil */
#pts-css4 {
  width: 375px;
  height: 627px;
  border: solid 5px red;
  z-index: var(--zindex-repere);
}
/* grand mobil */
#pts-css5 {
  width: 414px;
  height: 736px;
  border: solid 5px red;
  z-index: var(--zindex-repere);
}

/* tablette stadard */
#pts-css6 {
  width: 768px;
  height: 1024px;
  border: solid 10px blue;
  z-index: var(--zindex-repere);
}

/* tablette grande */
#pts-css7 {
  width: 820px;
  height: 1180px;
  border: solid 10px blue;
  z-index: var(--zindex-repere);
}


/* petit ecran */
#pts-css8 {
  width: 992px;
  height: 600px;
  border: solid 12px green;
  z-index: var(--zindex-repere);
}
/* ecran standar */
#pts-css9 {
  width: 1200px;
  height: 1080px;
  border: solid 12px green;
  z-index: var(--zindex-repere);
}
#pts-css10 {
  width: 1440px;
  height: 900px;
  border: solid 12px green;
  z-index: var(--zindex-repere);
}
/* hdmi */
#pts-css11 {
  width: 1920px;
  height: 1080px;
  border: solid 20px green;
  z-index: var(--zindex-repere);
}
/* #endregion */

/* #region repere break points */

#mobileP {
  position: absolute;
  top: 150%;
  left: 10px;
  z-index: var(--zindex-repere);
  width: 320px;
  height: 568px;
  border: solid 2px red;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Mp {
  font-size: 40px;
  writing-mode: horizontal-tb;
  text-align: center;
  margin: auto;
  border: solid 1px wheat;
}
#mobileP:hover {
  transform: rotate(90deg);
}
#mobileP:hover #Mp {
  transform: rotate(-90deg);
}

#mobileS {
  position: absolute;
  top: 150%;
  left: 400px;
  z-index: var(--zindex-repere);
  width: 375px;
  height: 667px;
  border: solid 2px green;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Ms {
  font-size: 40px;
  writing-mode: horizontal-tb;
  text-align: center;
  margin: auto;
  border: solid 1px wheat;
}
#mobileS:hover {
  transform: rotate(90deg);
}
#mobileS:hover #Ms {
  transform: rotate(-90deg);
}

#mobileG {
  position: absolute;
  top: 150%;
  left: 900px;
  z-index: var(--zindex-repere);
  width: 414px;
  height: 736px;
  border: solid 2px orange;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Mg {
  font-size: 40px;
  writing-mode: horizontal-tb;
  text-align: center;
  margin: auto;
  border: solid 1px wheat;
}
#mobileG:hover {
  transform: rotate(90deg);
}
#mobileG:hover #Mg {
  transform: rotate(-90deg);
}

#tabletteS {
  position: absolute;
  top: 150%;
  left: 1400px;
  z-index: var(--zindex-repere);
  width: 768px;
  height: 1024px;
  border: solid 2px blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Ts {
  font-size: 80px;
  writing-mode: horizontal-tb;
  text-align: center;
  margin: auto;
  border: solid 1px wheat;
}
#tabletteS:hover {
  transform: rotate(90deg);
}
#tabletteS:hover #Ts {
  transform: rotate(-90deg);
}

#tabletteG {
  position: absolute;
  top: 150%;
  left: 2300px;
  z-index: var(--zindex-repere);
  width: 1024px;
  height: 1366px;
  border: solid 2px purple;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Tg {
  font-size: 80px;
  writing-mode: horizontal-tb;
  text-align: center;
  margin: auto;
  border: solid 1px wheat;
}
#tabletteG:hover {
  transform: rotate(90deg);
}
#tabletteG:hover #Tg {
  transform: rotate(-90deg);
}

#ecranP {
  position: absolute;
  top: 150%;
  left: 3500px;
  z-index: var(--zindex-repere);
  width: 1366px;
  height: 768px;
  border: solid 2px yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Ep {
  font-size: 100px;
  writing-mode: horizontal-tb;
  text-align: center;
  margin: auto;
  border: solid 1px wheat;
}
#ecranP:hover {
  transform: rotate(90deg);
}
#ecranP:hover #Ep {
  transform: rotate(-90deg);
}

#ecranG {
  position: absolute;
  top: 150%;
  left: 5000px;
  z-index: var(--zindex-repere);
  width: 1920px;
  height: 1080px;
  border: solid 2px cyan;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Eg {
  font-size: 100px;
  writing-mode: horizontal-tb;
  text-align: center;
  margin: auto;
  border: solid 1px wheat;
}
#ecranG:hover {
  transform: rotate(90deg);
}
#ecranG:hover #Eg {
  transform: rotate(-90deg);
}

/* #endregion repere break points */

#exemp {
  border: solid 3px yellow;
  padding: 10px;
  margin: 10px;
  position: absolute;
  top: 10%;
  left: 100%;
  width: 50%;
}
