
/* #region @media  */
@media (max-width: 900px) {
  body {
    width: 840px;
    border: solid 10px green;
  }
}
@media (max-width: 500px) {
  body {
    width: 380px;
    border: solid 10px purple;
  }
}
/* #endregion  */
